<nav class="btn-group">
    <a href="//github.com/bZez" target="_blank" type="button" class="btn btn-outline-dark text-white"
       title="Follow me on GitHub"><i class="bi bi-github"></i></a>
    <a href="//stackoverflow.com/users/1139792/bzezzz" target="_blank" type="button" class="btn btn-outline-dark text-white"
       title="Stack Overflow purist !"><i class="bi bi-stack-overflow"></i></a>
    <a href="//linkedin.com/in/sambzez" target="_blank" type="button" class="btn btn-outline-dark text-white"
       title="LinkedIn profile"><i class="bi bi-linkedin"></i>
    </a>
    <a href="//twitter.com/graphicnaivety" target="_blank" type="button" class="btn btn-outline-dark text-white"
       title="@graphicnaivety"><i class="bi bi-twitter"></i>
    </a>
</nav>